{% extends "base/base.html" %}

{% block content %}
<div class="container">
    <h1>Transactions</h1>
    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-transaction-modal">Create Transaction</a>
    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#upload-transaction-modal">Upload Data</a>
    <div class="row">
        <div id="transaction-table" hx-get="{% url 'ledger:transaction-load-table'%}?sort={{ sort }}&page={{ page }}" hx-trigger="loadTransactionTable from:body">
            {% include 'ledger/transaction/partials/table.html' %}
        </div>
    </div>
</div>

<div class="modal fade" id="create-transaction-modal" tabindex="-1">
    {% include 'ledger/transaction/partials/create-modal.html'%}
</div>
<div class="modal fade" id="update-transaction-modal" tabindex="-1">
    {% include 'ledger/transaction/partials/create-modal.html'%}
</div>
<div class="modal fade" id="upload-transaction-modal" tabindex="-1">
    {% include 'ledger/transaction/partials/upload-modal.html'%}
</div>

{% endblock content %}