{% extends "base/base.html" %}



{% block content %}
<div class="container">
    <div class="row">
        <h3>Transactions</h3>
        <div class="col-8">
            <div id="transaction-table" hx-get="{% url 'ledger:transaction-table-load'%}?page={{ page }}" hx-trigger="loadTransactionTable from:body">
                {% include 'ledger/transaction/partials/table.html' %}
            </div>
        </div>
        <div class="col-4">
            <h3>Create Transaction</h3>
            <form hx-post="{% url 'ledger:transaction-create' %}">
                {% include 'ledger/transaction/partials/form.html' %}
            </form>
        </div>
    </div>

</div>

{% endblock content %}